@import '../style/fonts.css';
@import '../style/normalize.css';
@import '../style/root.css';
@import '../style/addClass.css';

body,
html {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    margin-inline: 40px;
}

/*! Header */

.header {
    background-color: var(--start-screen-gradient-background);
    background-image: radial-gradient(237.5% 111.8% at 0% 0%, #5b483a 0%, #262425 100%);
}

.header-container {
    padding-top: 30px;
    padding-bottom: 90px;
    display: flex;
    justify-content: space-between;
}

.header-logo {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.logo {}

.logo-name {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: var(--color-primary);
}

.logo-surname {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.1em;
    color: var(--color-light-xl);
}

.header-nav {}

.nav {}

.nav-list {
    display: flex;
    gap: 45px;
}

.list {}

.list-item {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: var(--color-dark-s);
}

/*! Not Only section */

.only {}

.only-container {
    display: flex;
    justify-content: space-between;
    gap: 42px;
}

.only-about {
    max-width: 460px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 42px;
}

.only-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color: var(--color-light-xl);
}

.only-text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: var(--color-dark-s);
}

.only-btn {
    border-radius: 100px;
    padding: 15px 45px;
    background: var(--color-primary-light);
}

.only-img {}

/*! Main */

main {
    flex-grow: 1;
}

/*! About */

.about {}

.about-container {
    display: flex;
    justify-content: center;
    padding-block: 80px 100px;
    gap: 120px;
}

.about-image {
    position: relative;
    width: 300px;
    height: 480px;
}

.about-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.about-discription {
    max-width: 430px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.about-tittle {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
}

.about-text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: var(--color-dark-xl);
}

.footer {}
